.footer__container {
  @include container;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px;

  @include tablet {
    padding: 40px 0 30px;
  }

  @include desktop {
    flex-direction: column;
    align-items: start;
  }
}

.footer__navigation {
  @include desktop {
    grid-column: span 3;
    padding-top: 50px;
  }
}

.footer__copyright {
  padding: 20px 0 30px;

  @include tablet {
    padding: 30px 0 40px;
  }

  @include desktop {
    grid-column: span 4;
    padding: 20px;
  }
}
