.map__container {
  background-color: #edf0ec;
}

.map__interactive {
  display: block;
  width: 100%;
  border: none;

  @include tablet {
    min-height: 480px;
  }

  @include desktop {
    min-height: 540px;
  }

  &--nojs {
    display: none;
  }
}

.map__image {
  display: none;
  margin: 0 auto;
  height: auto;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1440px;
  }

  &--nojs {
    display: block;
  }
}
