.pagination {
  display: flex;
  gap: 20px;
}

.pagination__button {
  padding: 8px 20px;

  @include mobile-only {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    span {
      display: none;
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      mask-image: url("../../img/icons/stack.svg#arrow");
    }
  }
}

.pagination__button--forward {
  @include mobile-only {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.pagination__list {
  @include clear-list;
  display: flex;
  gap: 20px;
}

.pagination__link {
  text-decoration: none;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--current {
    background-color: transparent;
    font-weight: 600;
    color: inherit;
  }
}
